<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
    <div class="form-group">
        <label for="title">Tên</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="desc">Mô tả</label>
        <input type="text" class="form-control" id="desc" name="desc">
    </div>
    <div class="form-group">
        <label for="videoID">Video ID</label>
        <input type="text" class="form-control" id="videoID" name="videoID">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>